@charset "UTF-8";
/* gradient backgrounds and reflections */
/*
 * Rounded4
*/
/* line 5, ../sass/common-use.scss */
#read-keramart-twitter,
form#search-block-form {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 9, ../sass/common-use.scss */
#block-search-form .form-submit {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/*
 * transitions
*/
/* line 15, ../sass/common-use.scss */
#block-search-form .form-submit {
  -webkit-transition: background ease-in-out .2s;
  -moz-transition: background ease-in-out .2s;
  -o-transition: background ease-in-out .2s;
  -ms-transition: background ease-in-out .2s;
  -khtml-transition: background ease-in-out .2s;
  transition: background ease-in-out .2s;
}

/* line 24, ../sass/common-use.scss */
#block-search-form .form-submit:hover {
  -webkit-transition: none 0s ease 0s;
  -moz-transition: none 0s ease 0s;
  -o-transition: none 0s ease 0s;
  -ms-transition: none 0s ease 0s;
  -khtml-transition: none 0s ease 0s;
  transition: none 0s ease 0s;
}

/* line 33, ../sass/common-use.scss */
#navigation a:hover {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

/* line 38, ../sass/common-use.scss */
#navigation a {
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

/* 
*********** Тени *******
*/
/* line 46, ../sass/common-use.scss */
ul.nice-menu li ul {
  -moz-box-shadow: #666666 2px 2px 10px;
  -webkit-box-shadow: #666666 2px 2px 10px;
  box-shadow: #666666 2px 2px 10px;
}

/* 
*********** Кнопки *******
*/
/* line 53, ../sass/common-use.scss */
#calltomybtm,
.page-taxonomy-term a.contactus-form,
#send-order-btm-top,
#send-order-btm-block {
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: white;
  background-color: #b92926;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* line 85, ../sass/_custom.scss */
#calltomybtm:hover,
.page-taxonomy-term a.contactus-form:hover,
#send-order-btm-top:hover,
#send-order-btm-block:hover {
  background-color: #d73e3b;
}

/* line 61, ../sass/common-use.scss */
.view-prais-inner div.desc-left-inner-prise {
  width: 15em;
  float: left;
  clear: left;
}

/* line 66, ../sass/common-use.scss */
.view-prais-inner div.views-row {
  width: 104px;
  height: 120px;
  float: left;
  margin: 3px;
  text-align: center;
  padding: 2px;
}

/* line 74, ../sass/common-use.scss */
.view-prais-inner div.name-inner-prise {
  clear: left;
}

/* 
*********** Цвет и поведение ссылок *******
*/
/* line 86, ../sass/common-use.scss */
.item-list .pager a,
.region-sidebar-first a,
#block-views-tweets-block a,
.region-sidebar-first a,
#block-block-2 #header-email a,
#block-menu-menu-top-menu a {
  text-decoration: none;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #222222;
}
/* line 90, ../sass/common-use.scss */
.item-list .pager a:hover,
.region-sidebar-first a:hover,
#block-views-tweets-block a:hover,
.region-sidebar-first a:hover,
#block-block-2 #header-email a:hover,
#block-menu-menu-top-menu a:hover {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  color: #999999;
}

/* 
*********** Ссылка в виде кнопки со знаком вопроса *******
*/
/* line 101, ../sass/common-use.scss */
a.help-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(images/spritesheet.png);
  background-position: -26px -62px;
  text-decoration: none;
  vertical-align: middle;
}

/* 
*********** Табличка прайс-лист *******
*/
/* line 114, ../sass/common-use.scss */
.prise-from-digit {
  color: red;
}

/* line 117, ../sass/common-use.scss */
.prise-table-all
.element-invisible {
  position: relative !important;
  clip: auto;
  overflow: auto;
  height: auto;
}

/* line 124, ../sass/common-use.scss */
.tablefield {
  margin-top: 0;
  font-size: 0.875em;
  line-height: 1.71429em;
}
/* line 127, ../sass/common-use.scss */
.tablefield thead th {
  text-align: center;
}
/* line 128, ../sass/common-use.scss */
.tablefield tr {
  background-color: transparent;
}
/* line 129, ../sass/common-use.scss */
.tablefield .col_1 {
  font-weight: bold;
  color: red;
}

/* line 131, ../sass/common-use.scss */
.prise-body-cost,
.prise-body-dim {
  color: gray;
  font-weight: normal;
}

/* line 136, ../sass/common-use.scss */
.prise-body-descrhead,
.prise-body-description {
  text-align: left;
  font-size: 0.8125em;
  line-height: 1.84615em;
}

/* line 141, ../sass/common-use.scss */
.prise-body-description p {
  margin-top: 0;
}

/* line 144, ../sass/common-use.scss */
.prise-body-descrhead {
  font-weight: bold;
}

/*# sourceMappingURL=common-use.css.map */
