/*
Syntax error: Invalid CSS after "...uttomtextcolor)": expected "{", was "}"
        on line 54 of D:/NewDenwer/home/Keramart/www/sites/default/themes/keramart/sass/common-use.scss

Backtrace:
D:/NewDenwer/home/Keramart/www/sites/default/themes/keramart/sass/common-use.scss:54
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:1148:in `expected'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:1084:in `expected'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:1079:in `tok!'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:533:in `block'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:186:in `mixin_directive'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:174:in `special_directive'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:146:in `directive'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:553:in `block_child'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:542:in `block_contents'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:534:in `block'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:528:in `ruleset'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:552:in `block_child'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:545:in `block_contents'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:82:in `stylesheet'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/scss/parser.rb:27:in `parse'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:342:in `_to_tree'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:315:in `_render'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.11/lib/sass/engine.rb:262:in `render'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
D:/NewDenwer/usr/local/bin/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
D:/NewDenwer/usr/local/bin/Ruby193/bin/compass:23:in `load'
D:/NewDenwer/usr/local/bin/Ruby193/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...uttomtextcolor)\": expected \"{\", was \"}\"\A         on line 54 of D:/NewDenwer/home/Keramart/www/sites/default/themes/keramart/sass/common-use.scss"; }
