@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../../sass/custom/custom.scss */
.quotebox {
  padding-top: 72px;
  padding-bottom: 24px;
  margin: 0;
  position: relative;
}
/* line 15, ../../sass/custom/custom.scss */
.quotebox .quote {
  margin: 0 20px;
  font-style: italic;
  font-size: 28px;
  line-height: 48px;
}
/* line 20, ../../sass/custom/custom.scss */
.quotebox .quote:before {
  color: #c7e6df;
  content: "\201C";
  display: block;
  font-size: 290px;
  left: -176px;
  position: absolute;
  top: 218px;
}
/* line 29, ../../sass/custom/custom.scss */
.quotebox .quote:after {
  color: #c7e6df;
  content: "\201C";
  display: block;
  font-size: 290px;
  left: -176px;
  position: absolute;
  top: 218px;
}
/* line 39, ../../sass/custom/custom.scss */
.quotebox .byline {
  float: right;
  font-size: 20px;
  line-height: 24px;
}

/* line 48, ../../sass/custom/custom.scss */
blockquote:before {
  color: #bbb;
  content: "\201C";
  /* Непечатаемый символ слева */
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -.4em;
}

/* line 57, ../../sass/custom/custom.scss */
blockquote:after {
  color: #bbb;
  content: "\201D";
  /* Непечатаемый символ справа */
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.45em;
}

/* line 65, ../../sass/custom/custom.scss */
blockquote > p:first-child {
  display: inline;
}

/* line 69, ../../sass/custom/custom.scss */
.blackbkg {
  background-color: rgba(0, 0, 0, 0.71) !important;
  color: white;
  padding: 12px;
}

/* line 74, ../../sass/custom/custom.scss */
.whitebg {
  background-color: rgba(255, 255, 255, 0.71);
  padding: 12px;
}

/* line 80, ../../sass/custom/custom.scss */
.whitecolor {
  color: white;
}

/* line 84, ../../sass/custom/custom.scss */
h1, h2, h3 {
  text-align: center;
}

/* line 87, ../../sass/custom/custom.scss */
h2 {
  font-size: 30px;
  line-height: 48px;
  margin-top: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 24px;
}

/* line 99, ../../sass/custom/custom.scss */
.modal-body {
  overflow: auto;
}

/* line 102, ../../sass/custom/custom.scss */
.navbar-default {
  border-bottom: 3px solid #068D98;
}
/* line 103, ../../sass/custom/custom.scss */
.navbar-default .navbar-header {
  position: relative;
}
/* line 109, ../../sass/custom/custom.scss */
.navbar-default .logo {
  position: absolute;
  left: 0;
  top: 12px;
}
/* line 115, ../../sass/custom/custom.scss */
.navbar-default .name {
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 60px;
  color: #068D98;
  height: inherit;
  max-width: 280px;
}
/* line 126, ../../sass/custom/custom.scss */
.navbar-default .navbar-nav {
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 12px;
}
/* line 128, ../../sass/custom/custom.scss */
.navbar-default .navbar-nav li {
  list-style-type: none;
}
/* line 129, ../../sass/custom/custom.scss */
.navbar-default .navbar-nav li .fa {
  margin-right: 5px;
}
/* line 136, ../../sass/custom/custom.scss */
.navbar-default .navbar-nav li a:hover {
  color: #0a4a50;
}
/* line 139, ../../sass/custom/custom.scss */
.navbar-default .navbar-nav li a:visited {
  color: #068D98;
}
/* line 145, ../../sass/custom/custom.scss */
.navbar-default #topphone {
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 48px;
  float: right;
  color: #d9534f;
}
/* line 150, ../../sass/custom/custom.scss */
.navbar-default #topphone i {
  margin-right: 10px;
}
/* line 154, ../../sass/custom/custom.scss */
.navbar-default .nav-phone {
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 48px;
  float: left;
  padding-left: 30px;
  color: #d9534f;
}
/* line 160, ../../sass/custom/custom.scss */
.navbar-default .nav-phone i {
  margin-right: 10px;
}

/* line 168, ../../sass/custom/custom.scss */
.bkg-blurred1 {
  background: url("../img/backgrounds/blurred.jpg") 50% 20% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* line 175, ../../sass/custom/custom.scss */
#registration p {
  font-size: 18px;
  line-height: 24px;
}

/* line 179, ../../sass/custom/custom.scss */
#perubckgr {
  background: url("peru.jpg") no-repeat fixed center 100px transparent;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 24px;
  margin-bottom: 0px;
}
/* line 182, ../../sass/custom/custom.scss */
#perubckgr .peruheading {
  font-size: 60px;
  line-height: 72px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 60px;
}
/* line 188, ../../sass/custom/custom.scss */
#perubckgr .perucountry {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 40px;
}
/* line 194, ../../sass/custom/custom.scss */
#perubckgr .leftblk {
  margin-top: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 196, ../../sass/custom/custom.scss */
#perubckgr .leftblk a.btn {
  font-size: 25px;
  line-height: 48px;
}
/* line 200, ../../sass/custom/custom.scss */
#perubckgr .rightblk {
  margin-top: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #068b97;
}
/* line 203, ../../sass/custom/custom.scss */
#perubckgr .rightblk .d1 {
  font-size: 48px;
  line-height: 48px;
}
/* line 206, ../../sass/custom/custom.scss */
#perubckgr .rightblk .d2 {
  font-size: 48px;
  line-height: 48px;
}
/* line 209, ../../sass/custom/custom.scss */
#perubckgr .rightblk .d3 {
  font-size: 70px;
  line-height: 72px;
}
/* line 213, ../../sass/custom/custom.scss */
#perubckgr .peru-edinst {
  font-size: 25px;
  line-height: 48px;
  color: #068b97;
}
/* line 217, ../../sass/custom/custom.scss */
#perubckgr .peru-onural {
  font-size: 36px;
  line-height: 48px;
  color: #068b97;
}
/* line 221, ../../sass/custom/custom.scss */
#perubckgr .peru-time1 {
  font-size: 22px;
  line-height: 48px;
}
/* line 224, ../../sass/custom/custom.scss */
#perubckgr .peru-time {
  font-size: 27px;
  line-height: 48px;
  color: #068b97;
}
/* line 228, ../../sass/custom/custom.scss */
#perubckgr .peru-chel {
  font-size: 63px;
  line-height: 72px;
  color: #068b97;
}
/* line 232, ../../sass/custom/custom.scss */
#perubckgr .dover-prirod {
  margin-top: 72px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-color: rgba(9, 160, 173, 0.52);
  color: white;
  text-transform: uppercase;
}
/* line 237, ../../sass/custom/custom.scss */
#perubckgr .dover-prirod .d1 {
  font-size: 48px;
  line-height: 72px;
}
/* line 240, ../../sass/custom/custom.scss */
#perubckgr .dover-prirod .d2 {
  font-size: 20px;
  line-height: 48px;
}
@media (max-width: 768px) {
  /* line 179, ../../sass/custom/custom.scss */
  #perubckgr {
    background-size: cover;
    background-position: 50% 116px !important;
  }
  /* line 247, ../../sass/custom/custom.scss */
  #perubckgr .peruheading {
    letter-spacing: 9px;
    font-size: 50px;
    line-height: 72px;
  }
  /* line 252, ../../sass/custom/custom.scss */
  #perubckgr .perucountry {
    letter-spacing: 17px;
  }
  /* line 255, ../../sass/custom/custom.scss */
  #perubckgr .leftblk {
    margin-top: 432px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  /* line 258, ../../sass/custom/custom.scss */
  #perubckgr .leftblk br {
    display: none;
  }
  /* line 262, ../../sass/custom/custom.scss */
  #perubckgr .leftblk span:after {
    content: " ";
  }
  /* line 266, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-edinst, #perubckgr .leftblk .peru-time, #perubckgr .leftblk .peru-time1, #perubckgr .leftblk .peru-chel1, #perubckgr .leftblk .peru-onural {
    font-size: 20px;
    line-height: 48px;
  }
  /* line 271, ../../sass/custom/custom.scss */
  #perubckgr .rightblk {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  /* line 274, ../../sass/custom/custom.scss */
  #perubckgr .rightblk br {
    display: none;
  }
  /* line 278, ../../sass/custom/custom.scss */
  #perubckgr .rightblk span:after {
    content: " ";
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 179, ../../sass/custom/custom.scss */
  #perubckgr {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 287, ../../sass/custom/custom.scss */
  #perubckgr .peru-edinst {
    font-size: 16px;
    line-height: 24px;
    color: #068b97;
  }
  /* line 292, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-onural {
    font-size: 24px;
    line-height: 48px;
    color: #068b97;
  }
  /* line 296, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-time1 {
    font-size: 14px;
    line-height: 24px;
  }
  /* line 299, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-time {
    font-size: 17px;
    line-height: 24px;
    color: #068b97;
    font-weight: bold;
  }
  /* line 304, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-chel {
    font-size: 40px;
    line-height: 48px;
    color: #068b97;
  }
  /* line 308, ../../sass/custom/custom.scss */
  #perubckgr .leftblk a.btn {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
  }
  /* line 314, ../../sass/custom/custom.scss */
  #perubckgr .rightblk .d1 {
    font-size: 37px;
    line-height: 48px;
  }
  /* line 317, ../../sass/custom/custom.scss */
  #perubckgr .rightblk .d2 {
    font-size: 39px;
    line-height: 48px;
  }
  /* line 320, ../../sass/custom/custom.scss */
  #perubckgr .rightblk .d3 {
    font-size: 55px;
    line-height: 72px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 179, ../../sass/custom/custom.scss */
  #perubckgr {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 328, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-edinst {
    font-size: 20px;
    line-height: 24px;
    color: #068b97;
  }
  /* line 332, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-onural {
    font-size: 29px;
    line-height: 48px;
    color: #068b97;
  }
  /* line 336, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-time1 {
    font-size: 18px;
    line-height: 24px;
  }
  /* line 339, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-time {
    font-size: 21px;
    line-height: 48px;
    color: #068b97;
    font-weight: bold;
  }
  /* line 344, ../../sass/custom/custom.scss */
  #perubckgr .leftblk .peru-chel {
    font-size: 50px;
    line-height: 72px;
    color: #068b97;
  }
  /* line 348, ../../sass/custom/custom.scss */
  #perubckgr .leftblk a.btn {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
}

/* line 355, ../../sass/custom/custom.scss */
#allpartners {
  margin-top: 24px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 48px;
}
/* line 357, ../../sass/custom/custom.scss */
#allpartners .partnerlogo {
  margin-top: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 12px;
  height: 72px;
}
/* line 360, ../../sass/custom/custom.scss */
#allpartners .partnerlogo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  margin: auto;
}

/* line 373, ../../sass/custom/custom.scss */
.main-container {
  margin-top: 72px;
}

/* line 377, ../../sass/custom/custom.scss */
.logged-in .main-container {
  margin-top: 120px;
}
/* line 381, ../../sass/custom/custom.scss */
.logged-in .navbar-default {
  margin-top: 48px;
}

/* line 389, ../../sass/custom/custom.scss */
.block-title {
  text-align: center;
}

/* line 398, ../../sass/custom/custom.scss */
#block-webform-client-block-11 h2 {
  display: none;
}
/* line 401, ../../sass/custom/custom.scss */
#block-webform-client-block-11 .input-lg, #block-webform-client-block-11 .btn-lg {
  margin: 12px 0;
}

/* line 405, ../../sass/custom/custom.scss */
#sub button:hover {
  color: #ffffff;
  background-color: #ec7063;
  border-color: #ec7063;
}

/* line 410, ../../sass/custom/custom.scss */
.scrn1 {
  padding-left: 40px;
  float: left;
  width: 50%;
}

/* line 416, ../../sass/custom/custom.scss */
.scrn2 {
  width: 50%;
  float: left;
}

@media (max-width: 350px) {
  /* line 422, ../../sass/custom/custom.scss */
  .navbar-brand {
    display: none;
  }
}

/*# sourceMappingURL=custom.css.map */
